<%= form_for [current_user, logged_item] do |f| %>
  <div class="form-group">
    <div class="row mb-2">
      <div class="col-12">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.label :unit %>
        <%= f.text_field :unit, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= f.label :value_type %>
        <%= f.select :value_type, LoggedItem::VALID_VALUE_TYPES, { prompt: 'Select a value type' }, { class: 'form-control' } %>
      </div>
    </div>
  </div>
  <div class="row">
    <% Color.names.each do |color| %>
      <div class="col-3">
        <%= f.radio_button :color, color %>
        <br>
        <%= f.label :color, color %>
        <%= color_swatch(color) %>
        <br>
      </div>
    <% end %>
  </div>
  <br>
  <% if @logs.present? %>
    <div id="log-fields" data-log-count="<%= @logs.count %>" >
      <h3>Logs</h3>

      <%= f.fields_for :logs, @logs do |ff| %>
        <%= render partial: 'logs/fields', locals: { builder: ff } %>
      <% end %>
    </div>
  <% end %>

  <br>

  <%= content_tag(:a, "Add Log", id: 'add-log-fields', class: 'btn btn-secondary', onclick: 'addNewLog()') %>

  <br><br>

  <%= f.submit submit_action, class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
  function addNewLog() {
    let $logFieldsContainer = $('#log-fields');

    let logIndex = $logFieldsContainer.data('log-count');

    let newLogRow = `
      <div class="row">
        <div class="col-md-7">
          <label for="logged_item_logs_attributes_${ logIndex }_created_at">Created at</label>
          <input class="form-control" type="text" name="logged_item[logs_attributes][${ logIndex }][created_at]" id="logged_item_logs_attributes_${ logIndex }_created_at">
        </div>
        <div class="col-md-4">
          <label for="logged_item_logs_attributes_${ logIndex }_value">Value</label>
          <input class="form-control" type="text" value="" name="logged_item[logs_attributes][${ logIndex }][value]" id="logged_item_logs_attributes_${ logIndex }_value">
        </div>
      </div>
    `;

    // append the new log row
    $logFieldsContainer.append(newLogRow);

    // increment the data-log-count
    $logFieldsContainer.data('log-count', parseInt(logIndex) + 1);
  }
</script>