<%= form_for [current_user, logged_item] do |f| %>
  <div class="form-group">
    <div class="row mb-2">
      <div class="col-12">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.label :unit %>
        <%= f.text_field :unit, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= f.label :value_type %>
        <%= f.select :value_type, LoggedItem::VALID_VALUE_TYPES, { prompt: 'Select a value type' }, { class: 'form-control' } %>
      </div>
    </div>
  </div>
  <div class="row">
    <% Color.names.each do |color| %>
      <div class="col-3">
        <%= f.radio_button :color, color %>
        <br>
        <%= f.label :color, color %>
        <%= color_swatch(color) %>
        <br>
      </div>
    <% end %>
  </div>
  <br>
  <%= f.submit submit_action, class: 'btn btn-primary' %>
<% end %>