<div class="row">
  <div class="col-md-7">
    <%= builder.label :created_at %>
    <%= builder.text_field :created_at, class: 'form-control' %>
  </div>
  <div class="col-md-4">
    <%= builder.label :value %>
    <%= builder.text_field :value, class: 'form-control' %>
  </div>
  <div class="col-md-1">
    <%= builder.label :_destroy %>
    <%= builder.check_box :_destroy  %>
  </div>
</div>